@font-face {
    font-family: "DOS";
    src: url("/static/fonts/IBM.woff");
  }
html, body {
    background: #1f1f1f;
    color: #f5f5f5;
    font-family: DOS, 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
* {
    font-family: DOS, 'Courier New', Courier, monospace;
    font-size: 16px;
}
a {
    color:#FF9933;
    text-decoration: none;
}

input {
    background: #333333;
    color: #CCCCCC;
}
.hidden {
    display:none;
    visibility: hidden;
}

.heart {
    color:#000000;
    padding:8px;
}
.heart:hover {
    color:#ffffff;
    background:#000000;
    cursor:pointer;
}
.menu-button {
    border: 0;
    background: transparent;
    color: #000000;
    padding: 4px;
    margin: 4px;
}
.menu-button:hover {
    background: #000000;
    color: #ffffff;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 16px;
    background:#ffffff;
    box-shadow: 0px 2px 2px #000000;
    z-index:100;
}
.nav {
    background:#ffffff;
    display: inline-block;
    position: relative;
    z-index:100;
}
.nav-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: visible;
    background:#ffffff;
    flex:auto;
    z-index: 100;
  }
  .nav:hover .nav-content {
    display: block;
  }
  .nav-content a {
    display: block;
    color: #000000;
    padding: 4px;
    text-decoration: none;
  }
  .nav-content a:hover {
    color:white;
    background: black;
}
.file-menu {
    width:175px;
}
.create-menu {
    width:115px;
}
.find-menu {
    width:115px;
}
.server-menu {
    width:175px;
}
.help-menu {
    width:95px;
}
#popup {
    position: absolute;
    background:#ffffff;
    visibility: hidden;
    color:black;
    padding:14px;
    box-shadow: 0px 0px 2px black;
    border: 1px solid white;
    top: 50%;
    left: 50%;
    width: 400px;  /* adjust as per your needs */
    height: 200px;   /* adjust as per your needs */
    margin-left: -200px;   /* negative half of width above */
    margin-top: -100px;   /* negative half of height above */
}
.popup-header {
    top: -10px;
    right: 0px;
    width:400px;
    text-align: right;
    align-items: flex-end;
    position: relative;
}
.popup-close {
    float: right;
    width: 22px;
    padding: 4px;
    color:black;
    background: white;
    cursor: pointer;
}
.popup-close:hover {
    color:white;
    background: black;
}
.popup-content {
    text-align:left;
}
#editor { 
    visibility: hidden;
    width:70vw;
    height:100vh;
    position: relative;
    font-family: DOS, 'Courier New', Courier, monospace;
    font-size: 16px;
    top: 0;
    left: 0;
    bottom: 30px;
    right: 0;
    background: #000000;
    color: #aaaaaa;
}

.workspace {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #333333;
    display: inline-flex;
    height: 100vh;
    width: 100vw;
}

.sidepanel {
    background:#111111;
    width:20vw;
    height:100vh;
    margin-right:5px;
    /* display: inline-flex; */
}
.mainpanel {
    background:#111111;
    width:78vw;
    margin: 0;
}

a.disabled {
    color: #777777;
    text-decoration: line-through;
}
a:hover.disabled {
    color: #777777;
    text-decoration: line-throuh;
    background:#ffffff;
}