{{define "layout"}}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{template "title"}}</title>
	<link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
	<nav>
		<div class="nav">
			<ul><a href="#">File</a></ul>
				<li>Connect</li>
				<li>Close</li>
			<ul>Create</ul>
				<li>Area</li>
				<li>Ship</li>
				<li>Mob</li>
				<li>Item</li>
			<ul>Search</ul>
				<li>Area</li>
				<li>Ship</li>
				<li>Mob</li>
				<li>Item</li>
				<li>Player</li>
			<ul>Help</ul>
			<ul>About</ul>
		</div>
	</nav>
	{{template "body"}}
</body>
</html>
{{end}}