{{define "layout"}}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{template "title"}}</title>
	<link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
	<div class="nav-bar">
		<span class="heart">♥️</span>
		<div class="nav">
			<button class="menu-button">File</button>
			<div class="nav-content file-menu">
				<a href="#">Connect</a>
				<a href="#">Open Local File</a>
				<a href="#">Save</a>
				<a href="#">Save As</a>
				<a href="#">Quit</a>
			</div>
		</div>
		<div class="nav">
			<button class="menu-button">Create</button>
			<div class="nav-content create-menu">
				<a href="#">Star System</a>
				<a href="#">Area</a>
				<a href="#">Entity</a>
				<a href="#">Item</a>
				<a href="#">Shop</a>
				<a href="#">Ship</a>
			</div>
		</div>
		<div class="nav">
			<button class="menu-button">Find</button>
			<div class="nav-content find-menu">
				<a href="#">Player</a>
				<a href="#">Star System</a>
				<a href="#">Area</a>
				<a href="#">Entity</a>
				<a href="#">Item</a>
				<a href="#">Shop</a>
				<a href="#">Ship</a>
			</div>
		</div>
		<div class="nav">
			<button class="menu-button">Server</button>
			<div class="nav-content server-menu">
				<a href="#">Options</a>
				<a href="#">Preferences</a>
				<a href="#">Restrict</a>
				<a href="#">Restart</a>
				<a href="#">Shutdown</a>
			</div>
		</div>
		<div class="nav">
			<button class="menu-button">Help</button>
			<div class="nav-content help-menu">
				<a href="#">About</a>
				<a href="#">License</a>
				<a href="#">Sources</a>
			</div>
		</div>
	</div>
	{{template "body"}}
</body>
</html>
{{end}}