name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            asset_name: swr-release-linux-${{ github.ref_name }}.tar.xz
          - os: macos-latest
            asset_name: swr-release-macos-${{ github.ref_name }}.tar.xz
          - os: windows-latest
            asset_name: swr-release-win64-${{ github.ref_name }}.zip

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
    - run: go version
    
    - name: Install dependencies
      run: make dependencies
      
    - name: Build Windows
      if: startsWith(matrix.os, 'windows')
      run: |
        make all VERSION=${{ github.ref_name }}
    - name: Build BSD
      if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
      run: |
        make all VERSION=${{ github.ref_name }}
        tar -cJf ${{ matrix.asset_name }} data docs bin LICENSE
    
